{% raw %}name: CI
on:
  schedule:
    - cron: "0 0 1 * *" # Run every month
  # This way, we can make sure code doesn't break via external dependencies
  push:
  pull_request:
{% endraw %}{%if not use_uv%}{%raw%}env:
  POETRY_VERSION: 1.8.5{% endraw %}{% endif %}{%raw%}
jobs:
  test:
    strategy:
      matrix:
        python-version:
          - "3.11"
          - "3.12"
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4{% endraw %}{% if use_uv %}{%raw%}
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Run test suite
        run: poe test{% endraw%}{%else%}{%raw%} 
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v3
        with:
          path: |
            .venv
            .pytest_cache
          key: ${{ runner.os }}-pip-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Poetry and Poe (UNIX)
        run: python3 -m pip install poetry==$POETRY_VERSION poethepoet

      - name: Install dependencies
        run: |
          poetry config virtualenvs.in-project true
          poetry install
          poetry install  # Second time to install the project
      - name: Run test suite
        run: poe test{% endraw %}{% endif %}{% if is_py_package and use_uv %}{% raw %}  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.11"
          enable-cache: true
      - name: Build project
        run: uv build{% endraw %}{%else%}{% raw %}  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install Poetry $POETRY_VERSION
        run: python3 -m pip install --upgrade pip poetry==$POETRY_VERSION
      - name: Build project
        run: poetry build{% endraw %}{% endif %}{% raw %}
  lints:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.11"
          - "3.12"  
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4{% endraw %}{% if use_uv %}{%raw%}
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Run style lints
        run: poe lint
{% endraw %}{%else%}{%raw%}
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3
      - uses: actions/cache@v3
        with:
          path: .venv
          key: ${{ runner.os }}-pip-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip poetry==$POETRY_VERSION poethepoet
          poetry config virtualenvs.in-project true
          poetry install
          poetry install  # Second time to install the project

      - name: Run style lints
        run: poe lint

{% endraw %}{%endif%}
