name: CI
on:
  schedule:
    - cron: "0 0 1 * *" # Run every month
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "{{ ci_python_version }}"
          enable-cache: true
      - name: Run test suite
        run: uv run poe test

  lints:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "{{ ci_python_version }}"
          enable-cache: true
      - name: Run style lints
        run: uv run poe lint

