name: CI
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build-poetry:
    strategy:
      matrix:
        python-version:
          - "3.11"
          - "3.12"
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: python3 -m pip install --upgrade pip copier poetry poethepoet
      - name: Create default options
        run: make setup-env

      - name: Build example template
        run: copier copy gh:mrllama123/pyt2 . -a .copier-answers.yml --defaults -d use_uv=false  --vcs-ref ${{ github.sha }}
      - name: Build example
        working-directory: cool-example
        run: |
          poetry install
          poetry build
      - name: Run example tasks
        working-directory: cool-example
        run: |
          poe lint
          poe test
  build-uv:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.11"
          - "3.12"
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true      
      - name: Create default options
        run: make setup-env

      - name: Build example template
        run: uvx copier copy gh:mrllama123/pyt2 . -a .copier-answers.yml --defaults --vcs-ref ${{ github.sha }}
      - name: Run example tasks
        working-directory: cool-example
        run: |
          poe lint
          poe test